*,
html {
    margin: 0;
    padding: 0;
}


.container {
    background-image: url(smr.png);
}

.navbar-container {
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none ;
    padding: 20px;
    margin: 5px;
    color: white;
    font-size: 30px;
}

.li-navbar:hover {
    background-color: rgb(139, 38, 38);
    transition: .2s ease-in-out;
    transition-delay: .1s;
    border-radius: 50px;


}

.a-navbar {
    color: white;
    text-decoration: none;
    font-weight: 500;

}

.container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    color: white;
    text-decoration: none;
    font-size: 30px;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 50px 50px 34px 47px rgba(0,0,0,0.04); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 50px 50px 34px 47px rgba(0,0,0,0.04);


}


.img-content {
    width: 50%;
    height: 60%;
}

.container-footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.welcome-footer {
    font-size: 40px;

}